* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    font-family: Arial, serif;
}

#menu-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #fbfbfb;
}

#left {
    display: flex;
    flex: 1 0;
}

#logo {
    width: 15vw;
    height: auto;
}

#center {
    flex: 1 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.item {
    font-size: 1.2vw;
    color: grey;
    padding: 5% 2%;
    transition: background-color 0.2s ease;
}

.item:hover {
    background: dimgrey;
    color: white;
}

#right {
    flex: 1 0;
    display: flex;
    justify-content: flex-end;
}

#invite {
    background-image: linear-gradient(to right, greenyellow, darkturquoise);
    align-self: center;
    color: white;
    margin: 0 7%;
    padding: 3% 3%;
    border-bottom-left-radius: 10% 45%;
    border-bottom-right-radius: 10% 45%;
    border-top-left-radius: 10% 45%;
    border-top-right-radius: 10% 45%;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    * {
        font-size: 1.2vw;
    }
}