* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

#app-container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 1%;
    justify-content: center;
    width: 98vw;
}

#users-container {
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 0 8px 0 rgba(66, 68, 90, 0.58);
}

.name {
    margin: 5% 0;
    font-size: 90%;
}

.phonr {
    font-size: 80%;
}

.remove {
    display: flex;
    background-color: green;
    color: white;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    width: 2vw;
    height: 2vw;
    min-width: 30px;
    min-height: 30px;
}

#form-container {
    display: flex;
    background-color: white;
    margin: 1%;
    justify-content: space-between;
    padding: 0 1%;
    align-items: center;
}

#form-container > div {
    flex: 1 40%;
}

#form-container > div:last-child {
    flex:    1 20%;
}

#form-container label {
    display: block;
    font-size: 70%;
    color: darkgrey;
    margin: 3% 1% 1% 1%;
}

#form-container input {
    width: 95%;
    padding: 1%;
    margin: 0 1% 5% 1%;
}

#add {
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 3%;
}