.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
  font-family: Arial, serif;
  padding: 2%;
  align-items: center;
  gap: 5vh;
}

.container h2 {
  background-color: cornflowerblue;
  color: white;
  padding: 1%;
}

.container select {
  min-width: 200px;
  font-size: 120%;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 50vw;
  }
}
