* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

#page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

header > h1 {
    margin: 1%;
    font-size: 300%;
    text-align: center;
}

header > span {
    display: block;
    width: 5vw;
    height: 5px;
    background-color: cornflowerblue;
    margin-bottom: 3%;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: white;
    margin-bottom: 5%;
}

#card > * {
    transition: 0.5s ease;
}

#img-container {
    flex: 1 15%;
    text-align: center;
    padding: 4%;
}

#image {
    margin: auto;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    box-shadow: 19px -12px 0 -5px cornflowerblue;
}

#name {
    font-size: 150%;
}

#job {
    color: cornflowerblue;
    font-size: 100%;
    font-weight: normal;
    text-transform: uppercase;
    margin: 1% 0 2% 0;
}

#text {
    color: dimgrey;
    padding: 0 5%;
    text-align: center;
}

#buttons-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1%;
}

#prev, #next {
    border: 0;
    color: cornflowerblue;
    font-size: 150%;
    margin: 1% 0;
    padding: 0 0.1%;
}

#random {
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
    background-color: white;
    border-radius: 3px;
    padding: 0.5%;
    margin-bottom: 3%;
}